body {
            margin: 0;
            background-color: black;
            height: 100vh;
            overflow: hidden;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
