body {
            margin: 0;
            background-color: black;
            height: 100vh;
            overflow: hidden;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .split-item:hover {
    flex-grow: 1.5; /* 마우스 올린 놈이 더 넓은 공간을 차지함 */
    transform: scale(1.1); /* 약간 더 확대됨 */
    filter: brightness(1); /* 밝아짐 */
    z-index: 10; /* 옆 이미지보다 위로 올라옴 */
}